.panel {
    margin: 0;
    padding: 4px;
}

.selected {
    background-color: var(--checked-color);
    border-left: 3px solid var(--primary-color);
}

.current {
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
}

.dragging {
    opacity: 0.56;
    pointer-events: none;
}

.dropTarget {
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
    opacity: 0.8;
}
