.root {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex: 1 1 auto;
    height: 0;

    & .sidebar {
        display: flex;
        flex-direction: column;
        min-width: 200px;
        max-width: 85%;
        background-color: var(--panel-background-color);
        position: relative;
        border-right: 1px solid var(--border-color);

        & .sidebarItem {
            margin-top: 0;
            overflow: hidden;
            flex: 1 1 auto;
            height: 0;
            border-bottom: 1px solid var(--border-color);
        }
    }

    & .viewportContainer {
        position: relative;
        background-color: var(--viewport-background-color);
        flex: 1 1 auto;
        width: 0;

        .viewport {
            height: 100%;
            position: relative;
        }
    }
}

.sidebarResizer {
    width: 4px;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: transparent;
    transition: background 0.2s;
}
.sidebarResizer:hover {
    background: var(--primary-color);
    opacity: 0.5;
}

.statusbar {
    height: 28px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 680px) {
    .content {
        flex-direction: column-reverse;
        min-height: 0;

        & .viewportContainer {
            height: 100px;
            width: 100%;
        }

        & .sidebar {
            display: none;
            flex: 1 1 auto;
            width: 100%;
        }
    }
}
